<div class="entry">
    <div class="entryheader">
			  <h2 class="entry-title"><a href="{{.Permalink}}">{{.Title}}</a></h2>
		</div><!-- class="entryheader" -->
		
		<div class="byline">
		    By <a href="{{.Params.author_url}}">{{.Params.author_name}}</a>
		<br />
		Published: {{ .Date.Format "January 2, 2006" }}

		</div><!-- class="byline" -->

		
		<div class="entry-body">
		    {{.Summary}}

        {{ if .Truncated }}
		    <div class="readmore">
		        <a href="{{.Permalink}}">Read more...</a>
		    </div>
        {{ end }}
		    
		</div><!--  class="entry-body" -->
		
		<div class="entry-footer">
			  <div><a href="{{.Permalink}}" rel="bookmark">Permalink</a> |
            Topic: <a href="/{{.Section}}/">{{.Section}}</a>
        </div>
			  
			  
			  <div class="taglist">
            {{ range .Params.tags }}
            <a href="/tags/{{ . | urlize }}" rel="tag">{{ . }}</a>
            {{ end }}
        </div>
		</div>
</div><!-- class="entry-footer" -->
