.socmedia-share {
    border: 1px dotted #ccc;
    border-right: 0;
    border-left: 0;
    padding: 0 10px;
    text-align: center;
    margin: auto;
    height: 40px;
    width: 205px;
}

.socmedia-share h4 {
    margin: 0 0 0 0;
    padding: 0;
    display: block;
	font: normal 14px/40px 'Montserrat', sans-serif;
	height: 40px;
	float: left;
}

.socmedia-share ul {
    float: left;
    margin: 0;
    padding: 0;
    padding-top: 8px;
    list-style: none;
}

.socmedia-share ul>li {
    float: left;
    display: block;
}

.socmedia-share img {
    margin: 0 !important;
    padding: 0 !important;
    width: 15px !important;
}

.socmedia-share a {
    padding: 5px;
    display: block;
    margin: 0 5px;
}

