{{ partial "header.html" . }}

<h2 id="archive-title" class="header2">Tag Topics</h2>
<p><i>A listing of article tags.</i></p>

<p></p>
<p></p>
<p></p>


<ul class="nav nav-tabs">
  <li role="presentation"><a class="view-taglist">View tag as list</a></li>
  <li role="presentation" class="active"><a class="view-tagcloud">View tag as cloud</a></li>
  <li role="presentation"><a class="view-popular">View most popular</a></li>
</ul>


<div id="tag-all" class="taglist tagcloud">
    <ul>
    {{ $data := .Data }}
    {{ range $key, $value := .Data.Terms }}
        <li><a href="/{{ $data.Plural }}/{{ $key | urlize }}">{{  $key }} <span class="weight{{ len $value }}">{{ len $value }}</span></a></li>
    {{ end }}
   </ul>
</div>

<div id="tag-popular">
<ul>
    {{ $data := .Data.Terms }}
    {{ range $key, $value := first 5 .Data.Terms.ByCount }}
    <li>
        <a rel="tag" href="{{ $data.Plural }}/{{ $value.Name | urlize }}">{{ $value.Name }} <span>{{$value.Count}}</span></a></li>
    {{ end }}
</ul>
</div>

{{ partial "footer.html" . }}

