<header role="banner" class="container {{ if .IsHome }}front-page-banner{{ else }}page-banner{{ end }} hidden-print" id="headcontainer">
<a id="skippy" class="sr-only sr-only-focusable" href="#maincontent"><div class="container"><span class="skiplink-text">Skip to main content</span></div></a>
    {{ if .IsHome }}
    <h1 id="front-page-logo"><img src="{{ .Site.BaseURL }}img/banner-front-logo.png" srcset="{{ .Site.BaseURL }}img/banner-front-logo.png 2x" role="presentation" alt="" itemprop="primaryImageOfPage" /><span class="sr-only" itemprop="name">CompilED:</span><span id="tagline">And Often Interpreted</span></h1>
    {{ else }}
    <h1 class="sr-only"><span itemprop="name">Coding Mental:</span></h1>
    {{ end }}
    <nav class="navbar navbar-default" itemscope itemtype="http://schema.org/SiteNavigationElement">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ .Site.BaseURL }}"><img src="{{ .Site.BaseURL }}img/logo-nav.png" srcset="{{ .Site.BaseURL}}img/logo-nav.png 2x" alt="Go to CompilED homepage" /></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li {{ if eq .Title "Articles" }}class="active"{{ end }}><a itemprop="url" href="/articles/"><span itemprop="name">Articles</span></a></li>
            <li {{ if eq .Title "Topics" }}class="active"{{ end }}><a itemprop="url" href="/topics/"><span itemprop="name">Topics</span></a></li>
            <li {{ if eq .Title "Tags" }}class="active"{{ end }}><a itemprop="url" href="/tags/"><span itemprop="name">Tags</span></a></li>
            <li {{ if eq .Title "About Coding Mental" }}class="active"{{ end }}><a itemprop="url" href="/about/"><span itemprop="name">About</span></a></li>
            <li {{ if eq .Title "Coding Mental Authors" }}class="active"{{ end }}><a itemprop="url" href="/authors/"><span itemprop="name">Authors</span></a></li>
            <!-- <li><a itemprop="url" href="#"><span itemprop="name">Authors</span></a></li> -->
          </ul>
        </div><!--/.nav-collapse -->
        <div class="search-wrapper">
            <form role="search">
                <input id="q" type="text" required="" class="search-box" placeholder="Search Coding Mental" />
                <button class="close-icon" id="clear-search" type="reset"></button>
                <button type="submit" id="search" style="display:none;"></button>
            </form>
            <div id="search-results"></div>
        </div>
      </div>
    </nav>
</header>
