{{ range first 1 (where .Site.Pages "Type" "post") }}
<section id="latest-entry">
    <article>
        <header class="front-page-header">
            <span class="sr-only">Latest CompilED Article</span>
            <time class="entry-date" datetime='{{ .Date.Format "2006-01-02"  }}'>{{ .Date.Format "January 2, 2006" }}</time>
            <h2 class="entry-title">
                <a href="{{ .Permalink }}">{{ .Title }}</a>
            </h2>
            <div class="entry-byline" itemprop="author" itemscope itemtype="http://schema.org/Person">
                By <a itemprop="url" href="{{ .Params.author_url }}"><span itemprop="name">{{ .Params.author_name }}</span></a>
            </div>
        </header>
        <div class="entry-summary">
            <p>{{ .Params.lede }}</p>
        </div>
        <div class="entry-more-link">
            <a href="{{.Permalink}}">Read more<span class="glyphicon glyphicon-chevron-right" role="presentation"></span></a>
        </div>
    </article>
</section>
{{ end }}

<hr class="front-page" role="presentation" />

<h1 class="text-center">Other recent CompilED posts</h1>

<div class="row more-recent-entries">
{{ range first 3 ( after 1 ( where .Site.Pages "Type" "post" ) ) }}
    <div class="col-md-4">
        <article class="recent-entry">
            <h2 class="entry-title">
                <a href="{{ .Permalink }}"><span class="entry-link glyphicon glyphicon-link"></span>{{ .Title }}</a>
            </h2>
            <div class="entry-byline" itemprop="author" itemscope itemtype="http://schema.org/Person">
                By <a itemprop="url" href="{{ .Params.author_url }}"><span itemprop="name">{{ .Params.author_name }}</span></a>
            </div>
            <div class="entry-summary">
                <p>{{ if .Params.lede }}{{ .Params.lede }}{{ else }}{{ .Summary  }}{{ end }}</p>
            </div>
            <div class="other-info">
                <time class="entry-date" datetime='{{ .Date.Format "2006-01-02"  }}'>{{ .Date.Format "January 2, 2006" }}</time> in <span class="entry-topic">{{ range $i, $e := .Params.topics }}{{if $i}},{{end}} <a href="/topics/{{ . | urlize | lower}}/">{{$e}}</a>{{ end }}</span>
            </div>
        </article>
    </div>
{{ end }}
</div>
