        </div>
    </div><!-- /.docs-row -->
    <div id="follow-blog" class="hidden-print clearfix">
        <h3>Follow Coding Mental</h3>
        <ul id="interaction-links" role="presentation">
            <li class="rss-link"><a href="{{ .Site.BaseURL }}index.xml" type="application/rss+xml" target="_blank"><img src="{{ .Site.BaseURL }}img/icon-rss.png" alt="" class="presentation" itemprop="logo" /><span class="sr-only" itemprop="name">RSS Feed</span></a></li>
            <li class="github-link"><a href="http://github.com/mhanyc" title="Github" target="_blank"><img src="{{ .Site.BaseURL }}img/icon-github.png" alt="" class="presentation" itemprop="logo" /><span class="sr-only" itemprop="name">Github</span></a></li>
        </ul>
    </div><!-- /#follow-blog -->
</div><!-- /#maincontent -->

<footer role="contentinfo">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div id="site-mission" itemprop="about">
                    <span itemprop="about">CompilED is a collection of reflections and comments by the <a href="/authors/">software developers</a> at Columbia's Center for Teaching and Learning. These views are rooted in our professional and personal experiences developing educational technology.</span>
                    Explore our <a href="/articles/">articles</a>, and learn more <a href="/about/" style="white-space: nowrap;">about us</a>. 
                    <span class="sr-only" itemprop="url">http://compiled.ccnmtl.columbia.edu</span>
                </div>
                <div id="blog-copyright">
                    <b>Unless otherwise noted, the content on this blog is licensed under a <a itemprop="license" rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/us/" target="_blank">Creative Commons Attribution-ShareAlike 3.0 United States</a> license.</b>
                </div>
            </div>
        </div>
        <div class="row">
            <h1 class="sr-only" role="presentation">Coding Mental is brought to you by the tech team at:</h1>
            <div style="text-align:center">
                <a href="https://mhaofnyc.org/" target="_blank" itemprop="url"><img src="{{ .Site.BaseURL }}img/MHA_highres.jpg" alt="" style="max-width:100%; max-height:200px;" class="presentation" itemprop="logo" /></a>
            </div>
        </div>
    </div>
</footer>

<!-- Javascript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="{{ .Site.BaseURL }}js/tabindex.js" type="text/javascript"></script>
<script src="{{ .Site.BaseURL }}js/misc.js" type="text/javascript"></script>
<script src="{{ .Site.BaseURL }}js/socmedia.js" type="text/javascript"></script>
<script src="{{ .Site.BaseURL }}js/lib/lunr.min.js" type="text/javascript"></script>
<script src="{{ .Site.BaseURL }}js/src/search.js" type="text/javascript"></script>
{{ template "_internal/google_analytics.html" . }}

</body>

</html>
