
                

    <script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
<script src="//connect.facebook.net/en_US/all.js#xfbml=1"></script>
 <div>
    <a href="http://twitter.com/share" class="twitter-share-button"
     data-url=""
     data-counturl=""
     data-via="CCNMTL"
     data-text=""
     data-count="horizontal">Tweet</a> <fb:like href="" layout="button_count" show_faces="false" width="250" font=""></fb:like>
   </div>
  </div>
 </div>

     <div id="beta">
       <div id="beta-inner" class="pkg">
          <div class="module-archive module">
    <h2 class="module-header">Topics</h2>
    <div class="module-content">
    
        
        <ul class="module-list">
        
        
            <li class="module-list-item" id="889"><a href="http://ccnmtl.columbia.edu/compiled/events/">Events</a>
        
        
            </li>
        
    
        
        
            <li class="module-list-item" id="887"><a href="http://ccnmtl.columbia.edu/compiled/process/">Process</a>
        
        
            </li>
        
    
        
        
            <li class="module-list-item" id="884"><a href="http://ccnmtl.columbia.edu/compiled/projects/">Projects</a>
        
        
        
        <ul class="module-list">
        
        
            <li class="module-list-item" id="886"><a href="http://ccnmtl.columbia.edu/compiled/projects/released/">Released</a>
        
        
            </li>
        
        </ul>
        
    
            </li>
        
    
        
        
            <li class="module-list-item" id="967"><a href="http://ccnmtl.columbia.edu/compiled/randd/">RandD</a>
        
        
            </li>
        
    
        
        
            <li class="module-list-item" id="883"><a href="http://ccnmtl.columbia.edu/compiled/reviewed/">Reviewed</a>
        
        
            </li>
        
    
        
        
            <li class="module-list-item" id="885"><a href="http://ccnmtl.columbia.edu/compiled/sysadmin/">Sysadmin</a>
        
        
            </li>
        
    
        
        
            <li class="module-list-item" id="888"><a href="http://ccnmtl.columbia.edu/compiled/user_interface/">User Interface</a>
        
        
            </li>
        
        </ul>
        
    
    </div>
</div>


<div class="widget-feed widget">

<h3 class="widget-header">compilED Delicious <a href="http://delicious.com/phennyccnmtl">Feed</a></h3>
<div class="widget-content">
<ul></ul>
</div>

</div>
<div class="module-tagcloud module">
 <h2 class="module-header">Most Popular Tags</h2>
    <div class="module-content">
        <ul class="module-list">
            
             <li class="module-list-item taglevel1">
                <a href="http://ccnmtl.columbia.edu/compiled/tags/python" rel="tag">python (11)</a></li>
            
             <li class="module-list-item taglevel2">
                <a href="http://ccnmtl.columbia.edu/compiled/tags/django" rel="tag">django (8)</a></li>
            
             <li class="module-list-item taglevel3">
                <a href="http://ccnmtl.columbia.edu/compiled/tags/deployment" rel="tag">deployment (5)</a></li>
            
             <li class="module-list-item taglevel3">
                <a href="http://ccnmtl.columbia.edu/compiled/tags/javascript" rel="tag">javascript (5)</a></li>
            
             <li class="module-list-item taglevel3">
                <a href="http://ccnmtl.columbia.edu/compiled/tags/process" rel="tag">process (5)</a></li>
            
        </ul>
             <p class="tagview"><a href="http://ccnmtl.columbia.edu/compiled/tagindex.html"> View all tags</a></p>
    </div>
</div>



<div class="module-creative-commons module">
   <div class="module-content">
      <a href="http://creativecommons.org/licenses/by-sa/3.0/us/"><img alt="Creative Commons License" src="//i.creativecommons.org/l/by-sa/3.0/us/88x31.png" /></a><br />
      This weblog is licensed under a <a href="http://creativecommons.org/licenses/by-sa/3.0/us/">Creative Commons License</a>.
   </div>
</div>

<div class="module-syndicate module">
   <div class="module-content">
      <a href="http://ccnmtl.columbia.edu/rss/compiled.xml">Subscribe to this feed</a><br />
   </div>
</div>
<div class="module-archive module">
    <h2 class="module-header">Topics</h2>
    <div class="module-content">
    
        
        <ul class="module-list">
        
        
            <li class="module-list-item" id="889"><a href="http://ccnmtl.columbia.edu/compiled/events/">Events</a>
        
        
            </li>
        
    
        
        
            <li class="module-list-item" id="887"><a href="http://ccnmtl.columbia.edu/compiled/process/">Process</a>
        
        
            </li>
        
    
        
        
            <li class="module-list-item" id="884"><a href="http://ccnmtl.columbia.edu/compiled/projects/">Projects</a>
        
        
        
        <ul class="module-list">
        
        
            <li class="module-list-item" id="886"><a href="http://ccnmtl.columbia.edu/compiled/projects/released/">Released</a>
        
        
            </li>
        
        </ul>
        
    
            </li>
        
    
        
        
            <li class="module-list-item" id="967"><a href="http://ccnmtl.columbia.edu/compiled/randd/">RandD</a>
        
        
            </li>
        
    
        
        
            <li class="module-list-item" id="883"><a href="http://ccnmtl.columbia.edu/compiled/reviewed/">Reviewed</a>
        
        
            </li>
        
    
        
        
            <li class="module-list-item" id="885"><a href="http://ccnmtl.columbia.edu/compiled/sysadmin/">Sysadmin</a>
        
        
            </li>
        
    
        
        
            <li class="module-list-item" id="888"><a href="http://ccnmtl.columbia.edu/compiled/user_interface/">User Interface</a>
        
        
            </li>
        
        </ul>
        
    
    </div>
</div>






       </div>
     </div>
						
<br clear="all" />


</div><!-- close pagebody -->
</div>

<div id="footer"><table border="0" width="100%" ><tr><td align="left" >Columbia Center for New Media Teaching and Learning &nbsp;&nbsp; 212.854.9058 
&nbsp; &nbsp; <a href="mailto:ccnmtl@columbia.edu">ccnmtl@columbia.edu</a>&nbsp; &nbsp; <a href=
"http://ccnmtl.columbia.edu/sitemap.html">Site Map</a> &nbsp;</td><td align="right" ><a href="http://www.columbia.edu/" target="_blank"><img src="http://ccnmtl.columbia.edu/images/cu_crown.gif" border="0" align="absmiddle" alt="Columbia University" /></a> </td></tr></table>
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
 var pageTracker = _gat._getTracker("UA-311226-1");
 pageTracker._initData();
 pageTracker._trackPageview();
} catch(e) {
  /*Google must be down!*/
}
</script>

</div><!-- close container -->
</div>
</body>
</html>


<div class="print_only">
<b>URL: </b> http://ccnmtl.columbia.edu/compiled/sysadmin/a_survey_of_the_clouds.html
</div><!-- print footer -->
