<link rel="canonical" href="{{ if .IsHome }}{{ .Site.BaseURL }}{{ else }}{{ .Permalink }}{{ end }}" />

{{ "<!-- Standard Meta Data -->" | safeHTML }}
<meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ if .Params.lede }}{{ .Params.lede }}{{ else }}{{ .Summary }}{{ end }}{{ end }}" />
<meta name="keywords" content="{{ if .IsHome }}{{ .Site.Params.keywords }}{{ else }}{{ range $i, $e := .Params.tags }}{{if $i}},{{end}}{{$e}}{{ end }}{{ end }}" />
<meta name="author" content="{{.Params.author_name}}" />
<meta name="copyright" content="{{ .Site.Copyright }}">

{{ "<!-- Dublin Core Metadata -->" | safeHTML }}
<meta name="DC.Title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Site.Params.shortTitle }}: {{ .Title }}{{ end }}" />
<meta name="DC.Description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ if .Params.lede }}{{ .Params.lede }}{{ else }}{{ .Summary }}{{ end }}{{ end }}" />

{{ "<!-- Open Graph -->" | safeHTML }}
<meta property="og:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Site.Params.shortTitle }}: {{ .Title }}{{ end }}" />
<meta property="og:type" content="blog" />
<meta property="og:image" 
      content="{{ if .IsHome }}{{ .Site.BaseURL }}img/ogg-image.jpg{{ else }}{{ if.Params.poster }}{{ .Site.BaseURL }}img/assets/{{ .Params.poster }}{{ else }}{{ .Site.BaseURL }}img/ogg-image.jpg{{ end }}{{ end }}" />
<meta property="og:description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ if .Params.lede }}{{ .Params.lede }}{{ else }}{{ .Summary }}{{ end }}{{ end }}" />
<meta property="og:url" content="{{ if .IsHome }}{{ .Site.BaseURL }}{{ else }}{{ .Permalink }}{{ end }}" />
<meta property="og:site_name" content="{{ .Site.Title }}" />

{{ "<!-- Twitter -->" | safeHTML }}
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@ccnmtldev" />
<meta name="twitter:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Site.Params.shortTitle }}: {{ .Title }}{{ end }}" />
<meta name="twitter:description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ if .Params.lede }}{{ .Params.lede }}{{ else }}{{ .Summary }}{{ end }}{{ end }}" />
<meta name="twitter:image" content="{{ .Site.BaseURL }}img/favicon.png" />