{{ partial "header.html" . }}

<div class="row">
    <div class="col-sm-6 text-center"><img src="{{ .Site.BaseURL }}img/404.jpg" alt="" class="poster-404" /></div>
    <div class="col-sm-6 error-not-found">
    <h1 class="text-danger text-center">Error 404</h1>
    <h2 class="text-danger text-center">Page not found</h2>
    <p class="text-center">The internet is not broken. It's just fine.<br />The page you're looking for, however, is not found.</p>
    <p class="text-danger text-center" style="font-size: XX-large; padding-top: 10px;">SRSLY.</p>
    <p class="text-center" style="font-size: XX-large; padding-top: 20px;"><a href="{{ .Site.BaseURL }}" class="btn btn-danger">Go Home</a></p>
    <p class="text-center text-muted" style="font-size: smaller; padding-top: 40px;">(The 404 cat is Pompous Albert, from his <a href="https://www.instagram.com/pompous.albert/" target="_blank">Instagram</a>.)</p>
    </div>
    
</div>


{{ partial "footer.html" . }}