{{ partial "header.html" . }}

<h1 id="primary-title">Topics</h1>

            <div class="row">
                <div class="col-md-4">
                    <article class="topics-index">
                        <h2 class="item-title">
                            <a href="/topics/events/"><span class="item-link glyphicon glyphicon-link"></span>Events</a>
                        </h2>
                        <div class="item-summary">
                            <p>We attend conferences, meetings, meetups, workshops, summits, talks, and hackathons. Sometimes we even present at these events. And here, we share our reactions, impressions, ideas, what we've learned, and follow-ups.</p>
                        </div>
                    </article>
                </div>
                <div class="col-md-4">
                    <article class="topics-index">
                        <h2 class="item-title">
                            <a href="/topics/process/"><span class="item-link glyphicon glyphicon-link"></span>Process</a>
                        </h2>
                        <div class="item-summary">
                            <p>Our development workflow from discovery and planning to implementation and deployment. The way we collaborate, build, test, iterate, improvise, migrate, sustain, experiment and analyze. How we play, explore, and be creative.</p>
                        </div>
                    </article>
                </div>
                <div class="col-md-4">
                    <article class="topics-index">
                        <h2 class="item-title">
                            <a href="/topics/projects/"><span class="item-link glyphicon glyphicon-link"></span>Projects</a>
                        </h2>
                        <div class="item-summary">
                            <p>The creative and technical strategies we adopt, and the innovations and solutions we build for projects. The effects and evaluation of technology on the projects' pedagogical goals. Finding the balance between novelty and sustainability.</p>
                        </div>
                    </article>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <article class="topics-index">
                        <h2 class="item-title">
                            <a href="/topics/research-and-development/"><span class="item-link glyphicon glyphicon-link"></span>Research and Development</a>
                        </h2>
                        <div class="item-summary">
                            <p>Our explorations and experiments on new technology and engineering to keep abreast of the ever-changing tech-ecosystem that shapes learning experiences. This is a crucial component because if we stand still, we risk falling behind.</p>
                        </div>
                    </article>
                </div>
                <div class="col-md-4">
                    <article class="topics-index">
                        <h2 class="item-title">
                            <a href="/topics/reviews/"><span class="item-link glyphicon glyphicon-link"></span>Reviews</a>
                        </h2>
                        <div class="item-summary">
                            <p>A corollary of research and development, where we test new technology, take it apart, and perhaps improvise it. Then we assess its effects on pedagogy, its application in our current approaches, and how its potential can advance future solutions.</p>
                        </div>
                    </article>
                </div>
                <div class="col-md-4">
                    <article class="topics-index">
                        <h2 class="item-title">
                            <a href="/topics/slacklinks/"><span class="item-link glyphicon glyphicon-link"></span>Slacklinks</a>
                        </h2>
                        <div class="item-summary">
                            <p>Interesting links posted to our internal Slack channel, curated weekly.</p>
                        </div>
                    </article>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <article class="topics-index">
                        <h2 class="item-title">
                            <a href="/topics/sysadmin/"><span class="item-link glyphicon glyphicon-link"></span>Sysadmin</a>
                        </h2>
                        <div class="item-summary">
                            <p>Posts that focus on systems administration, devops, and technical infrastructure. While we don't have a dedicated devops team, we're a small shop and all take turns managing our technical infrastructure. These posts document our explorations, investigations and adventures in server/database/network/etc administration.</p>
                        </div>
                    </article>
                </div>
                <div class="col-md-4">
                    <article class="topics-index">
                        <h2 class="item-title">
                            <a href="/topics/user-experience/"><span class="item-link glyphicon glyphicon-link"></span>User Experience</a>
                        </h2>
                        <div class="item-summary">
                            <p>How users use our applications, and how it matches our expectations. The methodologies and user stories we consider to improve the experience, from responsive design, accessibility, platform compatibility, to back-end performance optimization.</p>
                        </div>
                    </article>
                </div>
                 <div class="col-md-4">
                    &nbsp;
                </div>
           </div>



{{ partial "footer.html" . }}

