{{ partial "header.html" . }}

<h1 id="primary-title">Topics</h1>

            <div class="row">
                <div class="col-md-4">
                    <article class="topics-index">
                        <h2 class="item-title">
                            <a href="/topics/events/"><span class="item-link glyphicon glyphicon-link"></span>Events</a>
                        </h2>
                        <div class="item-summary">
                            <p>We attend conferences, meetings, meetups, workshops, summits, talks, and hackathons. Sometimes we even present at these events. And here, we share our reactions, impressions, ideas, what we've learned, and follow-ups.</p>
                        </div>
                    </article>
                </div>
                <div class="col-md-4">
                    <article class="topics-index">
                        <h2 class="item-title">
                            <a href="/topics/process/"><span class="item-link glyphicon glyphicon-link"></span>Process</a>
                        </h2>
                        <div class="item-summary">
                            <p>Our development workflow from discovery and planning to implementation and deployment. The way we collaborate, build, test, iterate, improvise, migrate, sustain, experiment and analyze. How we play, explore, and be creative.</p>
                        </div>
                    </article>
                </div>
                <div class="col-md-4">
                    <article class="topics-index">
                        <h2 class="item-title">
                            <a href="/topics/projects/"><span class="item-link glyphicon glyphicon-link"></span>Projects</a>
                        </h2>
                        <div class="item-summary">
                            <p>The creative and technical strategies we adopt, and the innovations and solutions we build for projects. The impact and evaluation of technology on the projects' pedagogical goals. Finding the balance between novelty and sustainability.</p>
                        </div>
                    </article>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <article class="topics-index">
                        <h2 class="item-title">
                            <a href="/topics/research-and-development/"><span class="item-link glyphicon glyphicon-link"></span>Research and Development</a>
                        </h2>
                        <div class="item-summary">
                            <p>Finding the balance between novelty and sustainability</p>
                        </div>
                    </article>
                </div>
                <div class="col-md-4">
                    <article class="topics-index">
                        <h2 class="item-title">
                            <a href="/topics/reviews/"><span class="item-link glyphicon glyphicon-link"></span>Reviews</a>
                        </h2>
                        <div class="item-summary">
                            <p>Nullam convallis massa neque, quis tincidunt quam interdum congue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin quam felis, semper quis magna quis, suscipit fermentum lorem.</p>
                        </div>
                    </article>
                </div>
                <div class="col-md-4">
                    <article class="topics-index">
                        <h2 class="item-title">
                            <a href="/topics/sysadmin/"><span class="item-link glyphicon glyphicon-link"></span>Sysadmin</a>
                        </h2>
                        <div class="item-summary">
                            <p>Vivamus tristique justo sed purus interdum tincidunt. Etiam est quam, fringilla vel ipsum non, posuere scelerisque mauris. Quisque at sapien egestas lectus volutpat pretium. Cum sociis natoque penatibus et magnis dis parturient.</p>
                        </div>
                    </article>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <article class="topics-index">
                        <h2 class="item-title">
                            <a href="/topics/user-experience/"><span class="item-link glyphicon glyphicon-link"></span>User Experience</a>
                        </h2>
                        <div class="item-summary">
                            <p>Curabitur quis nisi ligula. Nam dolor tortor, vehicula vitae ipsum eget, faucibus fringilla orci. Integer tempor erat et placerat laoreet. Suspendisse lacus metus, semper id lectus eu, feugiat sagittis neque. Nulla vitae.</p>
                        </div>
                    </article>
                </div>
                <div class="col-md-4">
                    &nbsp;
                </div>
                 <div class="col-md-4">
                    &nbsp;
                </div>
           </div>



{{ partial "footer.html" . }}

